node_modules/
ibills2/
lib/fontawesome/
*.sublime-workspace
*.sublime-project
*.js
!lib/AMS/*
!/lib/platypusui/*
*.js.map
*.css
*.css.map
*.DS_Store
!gruntfile.js
.tscache
typings/
!node/modules/platypus/*