@import '../../css/common/variables';

.logo-container {
    .flexbox();
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    top: -@navbar-height;
    height: 40%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid @light-grey;
    z-index: 6;
}

.flex-direction-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.login-container {
    position: relative;
    height: 40%;
    top: -@navbar-height / 2;
}

.disclaimer {
    display: block;
    position: absolute;
    bottom: -@navbar-height / 2;
    left: 0;
    right: 0;
    padding: 0.1em 3em;
    color: @grey;
    font-size: 0.7em;
    text-align: center;
}
.login-button {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}